wheel
absl-py
astunparse
cached-property
cachetools
certifi
cftime
chardet
cloudpickle
cycler
decorator
dm-tree
flatbuffersgast
google-auth
google-auth-oauthlib
google-pasta
grpcio1
h5py
idnaimportlib-metadata
joblib
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
netCDF4
numpy
oauthlib
opt-einsum
pandas
patsy
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn1
six
statsmodels
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow
tensorflow-probability
termcolor
threadpoolctl
tqdm
typing-extensions
urllib35
Werkzeug
wrapt1
xgboost
zipp
scikit-image
notebook
